<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Lisää elokuva</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
<input type="submit" value="kirjaudu ulos"/>
</form>
<h1>Täällä voit lisätä lempi elokuvasi</h1>
<div class="col-xs-2">
<form th:object="${elokuva}" th:action="@{save}" action="#" method="post">

<label for="nimi">Nimi: </label>
<input type="text" class="form-control col-xs-3" id="nimi" th:field="*{nimi}" /><br></br>
<label for="ohjaaja">Ohjaaja: </label>
<input type="text" class="form-control col-xs-3" id="ohjaaja" th:field="*{ohjaaja}" /><br></br>
<label for="arvio">Arvio: </label>
<input type="text" class="form-control col-xs-3" id="arvio" th:field="*{arvio}" /><br></br>
<label for="kommentti">Kommentti:</label>
<textarea class="form-control col-xs-6" rows="5" id="kommentti" th:field="*{kommentti}"></textarea><br></br>
<input type="submit" class="btn btn-success" value="Tallenna"></input>
<a href="/etusivu" class="btn btn-primary">Etusivu</a>
</form>
</div>
</body>
</html>